@import "@89netram/snygg/src/vars";

$wideNavSize: clamp(#{$navSize}, calc(100vw - (100vh - #{$headerSize})), #{$navSize * 1.5});
$mainSize: calc(100vw - #{$wideNavSize});

main {
	height: calc(100vh - #{$headerSize});
}

@media (min-width: $bigScreen) {
	nav {
		width: $wideNavSize;
		padding-left: $distance;
	}

	main {
		width: $mainSize;
		margin-left: $wideNavSize;
	}
}