@import "@89netram/snygg/src/index";

@import "./app-layout";

main {
	position: relative;

	canvas {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;

		outline: none;
	}
}

.vector {
	width: 100%;

	label {
		display: flex;
		align-items: baseline;
		max-width: 25ch;

		span {
			margin-left: 1ch;
			flex-basis: 1ch;
			text-align: end;
		}

		input {
			max-width: unset;
			min-width: 0px;
			display: inline;
			margin-left: 1ch;
		}
	}
}

label {
	display: inline-block;
}

nav > p > label {
	max-width: 25ch;
	width: 100%;
}
nav > hr ~ p > label {
	max-width: unset;
	width: unset;
}