@import "@89netram/snygg/src/index";

@import "./snygg-fixes";
@import "./app-layout";

main {
	position: relative;

	canvas {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}
}

.vector {
	width: 100%;

	label {
		display: flex;

		span {
			min-width: 2ch;
			text-align: end;
		}

		input {
			max-width: 20ch;
			display: inline;
			margin-left: 1ch;
		}
	}
}